<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission
        android:name="android.permission.ACCESS_MTP"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name="activity.AppApplication"
        android:allowBackup="true"
        android:configChanges="orientation"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name="activity.DeviceMappingActivity"
            android:exported="false" />
        <activity
            android:name="activity.compliandeliverystatus"
            android:exported="false" />
        <activity
            android:name="activity.ComplaintFormActivity"
            android:exported="false" />
        <activity
            android:name="activity.complaintInstallationActivity"
            android:exported="false" />
        <activity
            android:name="activity.DemoRoadShowActivity"
            android:exported="false" />
        <activity
            android:name="activity.RejectInstallationImageActivity"
            android:exported="false" />
        <activity
            android:name="activity.RejectionInstallation"
            android:exported="false" />
        <activity
            android:name="activity.JointInspectionImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.DeptDocSubImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.RoutePlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.UnloadList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.CheckRMSActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.PendingUnloadVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.KusumCSurveyFormActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.KusumCSurveyListActivty"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.SwVersionCheckActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.PhotoViewerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.CameraActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.PendingFeedBackOTPVerification"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.PendingFeedbackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.AddDamage_MissingActivity"
            android:label="Add Complain"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.MainActivity"
            android:label="Shakti Kusum"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="activity.UpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="debugapp.BlueToothDebugNewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="debugapp.NavigateOptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="debugapp.Add_Survey_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="debugapp.ActivitySurveyList"
            android:screenOrientation="portrait" />
        <activity
            android:name="debugapp.OTPGenerationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.CustomerRegistrationActivity"
            android:label="Registration"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.RegReportImageActivity"
            android:label="Registration Images"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.InstReportImageActivity"
            android:label="Installation Images"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.UnloadInstReportImageActivity"
            android:label="Installation Unload Images"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.ShowDocument"
            android:label="Show Images"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="activity.OfflineData"
            android:label="Offline Data"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.OfflineDataReg"
            android:label="Offline Registration Data"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.DDSubmissionActivity"
            android:label="DD Collection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="activity.DeptDocSubActivity"
            android:label="Depart. Doc. Submission"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="activity.OffSubDocActivity"
            android:label="Office Doc. Submission"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="activity.InstallationList"
            android:label="Installation List"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.InstallationListOfflineActivity"
            android:label="Installation List"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.InstallationDetailOfflineActivity"
            android:label="Installation List"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.InstallationInitial"
            android:label="Installation Form"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.GovtOffVisitActivity"
            android:label="Goverment Officer Visit"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.SiteAuditList"
            android:label="Site Audit List"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.SiteAuditInitial"
            android:label="Site Audit"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.SiteAuditImageActivity"
            android:label="Site Audit"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.SimCardOptions"
            android:label="Sim Card Options "
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.SimOfflineData"
            android:label="Sim Offline Data"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.SIMActivationDetails"
            android:label="Sim Activation Details"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.DeviceStatusActivity"
            android:label="Device Status"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.ShowDocument1"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.ShowDocument2"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.CameraActivitySurvey"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shaktipumplimited.SetParameter.DeviceSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shaktipumplimited.SetParameter.PairedDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shaktipumplimited.SetParameter.ScannedBarcodeActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name="service.RetrieveFirestoreData"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:stopWithTask="true" />

        <receiver
            android:name="receiver.FirestoreBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="firebase_notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_notification" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>